.error_boundary_container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &>div {
        text-align: center;

        &>div {
            font-size: 3rem;
            margin-bottom: 2rem;
            font-weight: 600;
        }

        &>p {
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: 4rem;
            color: #000;
        }

        &>button {
            height: 4rem;
            width: 12rem;
            font-size: 1.6rem;
            background-color: #0866ff;
            color: #fff;
            cursor: pointer;
            border: none;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;

            &:hover {
                background-color: #0867ffa0;
                box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
            }
        }
    }
}

.error_boundary_container_auth {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &>div {
        text-align: center;

        &>div {
            font-size: 3rem;
            margin-bottom: 2rem;
            font-weight: 600;
        }

        &>p {
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: 4rem;
            color: #000;
        }
    }
}